.container {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #f20065;
  margin-bottom: 20px;
}

.games_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.empty {
  margin-top: 40px;
  text-align: center;
  color: #777;
  font-size: 1.1rem;
}
