.backButtonFixed {
  position: fixed;
  top: 120px;
  right: 30px;

  background-color: #4caf50;
  color: white;
  padding: 10px 18px;

  border: none;
  border-radius: 8px;

  font-weight: bold;
  cursor: pointer;

  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.backButtonFixed:hover {
  background-color: #3e8e41;
}