.game_card {
  width: 250px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #222;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease,
    background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.game_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.3);
  background-color: #333;
}

.game-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.game_title {
  font-size: 18px;
  font-weight: bold;
  color: #f20065;
  text-transform: none;
  font-style: italic;
  margin-top: 10px;
}

.game_genres {
  font-size: 15px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 5px;
}

.read_more {
  font-size: 12px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  transition: color 0.3s ease;
}

.read_more:hover {
  color: #f20065;
}

.game_info {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}