.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(26, 26, 26, 0.9);
  backdrop-filter: blur(8px);
  color: white;
}

.navbar-left .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #f20065;
  text-decoration: none;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin: 0 20px;
}

.navbar-right {
  display: flex;
}

.auth-btn {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}

.auth-btn:hover {
  background-color: #45a049;
}

.sidebar {
  width: 200px;
  height: calc(100vh - 60px);
  color: #4CAF50;
  padding: 15px;
  position: fixed;
  left: 0;
  top: 60px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  font-size: 16px;
  background-color: transparent;
  overflow-y: auto;
}

.sidebar .details-wrapper {
  flex-grow: 1;
  max-height: calc(100vh - 60px);
  overflow-y: auto;
}

.sidebar .dropdown {
  width: 100%;
  margin-bottom: 20px; 
}

.sidebar .summary {
  cursor: pointer;
  color: #f20065; 
  background-color: #34495e;
  padding: 12px;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: bold;
}

.sidebar .summary:hover {
  background-color: #2c3e50;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar li {
  margin: 15px 0;
  font-size: 12px; 
}

.sidebar a {
  color: #4CAF50;
  text-decoration: underline;
  font-size: 16px;
}

.sidebar a:hover {
  color: #fff;
}

.content {
  margin-left: 220px;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.card {
  width: 300px;
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.search-btn {
  padding: 5px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 4px;
  font-weight: bold;
  font-size: 12px;
}

.search-btn:hover {
  background-color: #45a049;
}


